@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@keyframes slideToR {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

.pause-animate {
  animation-play-state: paused;
}

.hide {
  display: none;
}

/* Custom Background */
.bg-project-background {
  background-image: url('/assets/images/background/background1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
